{
  "extends": "standard",
  "plugins": [
    "ava",
    "import"
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "settings": {
    "import/ignore": ["node_modules"]
  },
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module",
  },
  "ecmaFeatures": {
    "arrowFunctions": true,
    "blockBindings": true,
    "classes": true,
    "defaultParams": true,
    "destructuring": true,
    "forOf": true,
    "generators": true,
    "modules": true,
    "objectLiteralComputedProperties": true,
    "objectLiteralDuplicateProperties": true,
    "objectLiteralShorthandMethods": true,
    "objectLiteralShorthandProperties": true,
    "restParams": true,
    "spread": true,
    "experimentalObjectRestSpread": true,
    "superInFunctions": true,
    "templateStrings": true,
    "jsx": true,
  },
  "globals": {
  },
  "rules": {
    "block-scoped-var": 2,
    "brace-style": 1,
    "camelcase": [1, {properties: 'never'}],
    "comma-dangle": [1, "always-multiline"],
    "comma-style": [1, "last"],
    "comma-spacing": 1,
    "consistent-this": [2, "that"],
    "curly": [1, "all"],
    "default-case": 1,
    "eqeqeq": [2, "smart"],
    "guard-for-in": 2,
    "indent": [1, 2],
    "max-len": [1, 100, 4],
    "max-lines": [1, {"max": 400, "skipComments": true}],
    "no-else-return": 1,
    "no-console": 1,
    "no-debugger": 1,
    "no-lonely-if": 1,
    "no-multi-spaces": 1,
    "no-multiple-empty-lines": 1,
    "no-param-reassign": 1,
    "no-plusplus": 1,
    "no-trailing-spaces": 1,
    "no-underscore-dangle": 0,
    "no-unused-vars": 1,
    "no-useless-escape": 0,
    "no-extra-semi": 1,
    "no-var": 2,
    "no-void": 2,
    "operator-linebreak": [2, "after"],
    "object-curly-spacing": [1, "never"],
    "object-property-newline": 0,
    "padded-blocks": 1,
    "prefer-const": 1,
    "quotes": [1, "single"],
    "semi": [1, "never"],
    "space-before-function-paren": [1, "never"],
    "spaced-comment": [1, "always"],
    "space-infix-ops": [1],
    "strict": [2, "global"],
    "vars-on-top": 1,
    "wrap-regex": 1,
    "ava/no-only-test": 1,
    "ava/no-skip-test": 1,
    "ava/no-skip-assert": 1,
    "ava/no-todo-test": 1,
    "ava/no-statement-after-end": 1,
    "ava/no-ignored-test-files": 1,
    "ava/test-ended": 1,
    "ava/test-title": [1, "if-multiple"],
    "ava/use-t-well": 1,
    "ava/use-t": 1,
    "ava/use-test": 1,
    "ava/use-true-false": 1,
    "import/named": 1,
    "import/namespace": 1,
    "import/default": 1,
    "import/export": 1,
    "import/imports-first": 1,
    "import/no-mutable-exports": 1,
    "import/no-named-as-default-member": 1,
    "import/no-named-as-default": 1,
  }
}
